HOST=127.0.0.1
PORT=8080
ALCHEMY_API_KEY=
NODE_ENV=development
APP_ORIGIN=http://localhost:3000
POSTGRES_PASSWORD=
DATABASE_URL=postgresql://ens_social:YOUR_PASSWORD@localhost:5432/ens_social
TEST_DATABASE_URL=postgresql://ens_social:YOUR_PASSWORD@localhost:5432/ens_social_test
